<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>TODO APP</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>

    <h1>MY TODO LIST</h1>

    {% for todo in todo_list %}
      <div style="background-color: orange; color: brown;">
        <h2>{{ todo.title }}</h2>
        <p>{{ todo.description }}</p>
        <p>{{ todo.created_at }}</p>
        <p>{{is_completed}} </p>

      </div>

    {% endfor %}
  </body>
</html>